ConnectionStrings__Default=
Authentication__JwtBearer__SecurityKey=
OpenAI__ApiKey=
Notifications__Email__Username=
Notifications__Email__Password=
MarketData__Oanda__AccountId=
MarketData__Oanda__ApiToken=
MarketData__Oanda__Instruments=
